<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- displays BountyByBree pattern from assets -->
    <img src="/assets/images/BBB colours.jpg">
    <!-- back button takes user to last screen, automatically knows which page user was last on -->
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center"><ion-text color="light"><h1>Order Confirmed!</h1></ion-text></ion-card>
  <div #map id='map'></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- displays BountyByBree pattern from assets -->
    <img src="/assets/images/BBB colours.jpg">
  </ion-toolbar>
</ion-footer>