<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- displays BountyByBree pattern from assets -->
    <img src="/assets/images/BBB colours.jpg">
    <!-- back button takes user to last screen, automatically knows which page user was last on -->
    <ion-buttons slot="start">
     <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <input #numChart placeholder="Number for Chart">
    <input #lab placeholder="label">
  
    <button (click)="numPush(numChart.value, lab.value)">Push Data</button>
  
    <ion-card>
      <ion-card-header>
        Chart Bar
      </ion-card-header>
      <ion-card-content>
        <canvas #healthCanvas height=300></canvas>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
     <!-- displays BountyByBree pattern from assets -->
     <img src="/assets/images/BBB colours.jpg">
    </ion-toolbar>
  </ion-footer>
