<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- displays BountyByBree pattern from assets -->
    <img src="/assets/images/BBB colours.jpg">
    <!-- back button takes user to last screen, automatically knows which page user was last on -->
    <ion-buttons slot="start">
     <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
      <ion-text color="light"><h1>Pie Chart</h1></ion-text>
      <ion-card-content>
        <canvas #tailored height=300></canvas>
      </ion-card-content>
    </ion-card>
    <!-- user input for pie chart -->
    <ion-item color="light">
      <ion-input #numChart type="tel" pattern="[0-9]*" maxlength="1" placeholder="Type number from 1 to 10" ></ion-input>
    </ion-item> 
    <ion-item class="box" color="light"> 
      <ion-input #lab type="text" placeholder="Wanted jewellery type"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-button (click)="numPush(numChart.value, lab.value)" size="medium" expand="round" color ="secondary">send preference</ion-button>
    </ion-item>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
     <!-- displays BountyByBree pattern from assets -->
     <img src="/assets/images/BBB colours.jpg">
    </ion-toolbar>
  </ion-footer>
