/* defined class to apply to outline of update profile pic button */
.box {
    border-color: #F689D2;
    border-width: medium;
    border-style: solid;
    border-radius: 6px;
}

// styles selected images
.image-container {
    background-size: cover;
    min-height: 220px;
  }
  @media (min-width: 0px) {
    .images-wrapper {
      column-count: 2;
    }
  }
  @media (min-width: 420px) {
    .images-wrapper {
      column-count: 3;
    }
  }
  @media (min-width: 720px) {
    .images-wrapper {
      column-count: 3;
    }
  }
  .pick-single-image {
    margin: 4px;
  }